:root {
  --dark-night: #020817;
  --dark-light: #89929e;
  --purple-night: #9f8cfc;
  --red-light: #e95151;
}
 
 
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #fff;
}
button {
  background-color: transparent;
  outline: none;
}
 .badge-sm{
  padding:1px 6px;
  display: inline-block;
  border-radius: 15px;
  font-size:10px;
  color:#fff;
 }
.g-15 {
  gap: 15px;
}
input:focus {
  box-shadow: 0 0 0 0 transparent;
}
p {
  font-size: 18px;
  line-height: 30px;
  color: #020817;
}
.container {
  max-width: 1420px;
}
input {
  outline: none;
}
a,
a:hover {
  text-decoration: none;
}
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
  padding: 0;
  font-weight: 700;
}
.common-heading-section h1 {
  font-size: 60px;
  color: #0f172a;
  font-weight: 600;
}
.text-color-4755 {
  color: #475569;
}

.common-heading-section h3 {
  font-size: 58px;
  line-height: 65px;
}
.common-heading-section h4 {
  font-size: 38px;
  line-height: 48px;
}
.common-heading-section h5 {
  font-size: 24px;
  line-height: 36px;
}
.common-heading-section p {
  color: #0f172a;
}
.g-10 {
  gap: 10px;
}
.g-20 {
  gap: 20px;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px;
}
.mt-70 {
  margin-top: 70px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.plr-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.rotate-left-30 {
  transform: rotate(-30deg);
}
.rotate-30 {
  transform: rotate(30deg);
}
.color-846 {
  color: #846cf9;
}
.primary-btn {
  border: none;
  outline: none;
  background-color: #846cf9;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: 0.5s;
}
.primary-btn:hover {
  background: #9c89fa;
}
.secondary-btn i{
  color:#00AA38;
  font-size:22px;
}
.secondary-btn{
  display: flex;
  align-items: center;
  font-weight:400;
  font-size:14px;
  background:#F7F7F7;
  color: #333333;
  padding: 2px 6px;
  border-radius: 2px;
  gap: 5px;
  padding-left: 0;
}
.g-15{
  gap:15px;
}
.pointer {
  cursor: pointer;
}
.dashboard-cover-area{
  gap:15px;
}
.add-show img{
  height: 100%;
  object-fit: cover;
}
.add-show{
  height:100%;
  width:15%;
}
.full-height {
  height: 100vh;
}
.center-dashboard{
  background:#fff;
  overflow-x: hidden;
  overflow-y: auto;
  width:70%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.center-dashboard::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.title{
  font-size: 24px;
  color:#333333;
  font-weight:700;
}
.box-design{
  border:1px solid #E6E6E6;
}
.sm-title-box{
  padding:8px 10px;
  background:#F7F7F7;
  font-size: 14px;
  display: inline-block;
  color:#333333;
  font-weight:600;
}
/* tab start */
.tab-btn.active{
  background:#E2E2E2;
}
.tab-btn{
  padding:8px 10px;
  background:#fff;
  font-size: 14px;
  display: inline-block;
  color:#333333;
  font-weight:600;
}
.bg-f7{
  background-color:#F7F7F7;
}

.text-red{
  color:#FF5E5E !important;
}
.bg-red{
  background-color:#FF5E5E !important;
}
.tab-content-box h6{
  color:#333333;
  font-weight:700;
  font-size:14px;
  display: inline-block;
}
.text-green-bold{
  color:#00aa38 !important;
  font-weight:600;
}
.text-green-normal{
  color:#00aa38 !important;
  font-weight:400;
}
.dotted-border{
  border-bottom:1px dotted #333333;
}
.tab-content-box ul li span i,table tr td i{
  font-size:14px;
  color:#a7a7a7;
}
.tab-content-box ul li span{
  font-size:14px;
  color:#333333;
}
.g-5{
  gap:5px;
}
.tab-content-box ul{
  margin:8px;
  padding-bottom:8px;
  border-bottom: 0.5px solid #e2e2e2c9;
}
.tab-content-box ul li{
  padding: 1px 0;
  transition: 0.5s;
}
.tab-content-box ul li:hover{
  background-color: #F3F4F6;
}
.tab-content-box ul:last-child{
  border: none;
  padding-bottom: 0;
}
.text-color-bb{
  color:#bbbcbc;
}
/* tab end */
.custom-table table tr th{
  font-size:15px;
  color:gray;
  font-weight:500;
}
.custom-table table tr td{
  padding:6px 4px !important;
  font-size:14px;
  color:#838383;
}
.table>:not(caption)>*>* {
border-color:#e9e9e9 !important;
}