@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
  .center-dashboard{
    width:98%;
    margin: auto;
  }
  .add-show{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  
}
@media screen and (max-width: 480px) {
  .tab-btn {
    padding: 6px 6px;
    font-size: 12px;
}
.custom-table table tr th,.custom-table table tr td {
  font-size: 12px;
}
.secondary-btn i {
  font-size: 15px;
}
}
